<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>nvidia-dev-server</title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script>
        $(document).ready(function() {
            var update_every = 10000;
            function update_containers_status() {

                 var url = '/api/containers?';
                 fetch(url, {
                     method: 'GET',
                 })
                     .then(response => response.json())
                     .then(data => {
                         console.log(data);
                         data = data['containers'];
                         var table_element = document.getElementById("container_info_table");
                         table_element.innerHTML = '';
                         for (var i = 0; i < data.length; i++) {
                             var row_element = document.createElement("tr");
                             // name
                             var name_el = document.createElement('th');
                             name_el.innerHTML = data[i]["name"];
                             row_element.appendChild(name_el);
                             // status
                             var status_el = document.createElement('th');
                             status_el.innerHTML = data[i]["status"];
                             row_element.appendChild(status_el);
                             // runtime
                             var runtime_el = document.createElement('th');
                             runtime_el.innerHTML = data[i]["runtime"];
                             row_element.appendChild(runtime_el);
                             // visible_devices
                             var visible_devices_el = document.createElement('th');
                             visible_devices_el.innerHTML = data[i]["visible_devices"];
                             row_element.appendChild(visible_devices_el);
                             // ports
                             var ports_el = document.createElement('th');
                             var ports_text = '';
                             for (var j = 0; j < data[i]["ports"].length; j++) {
                                 ports_text += ("<p>" + data[i]["ports"][j].join(':') + "</p>");
                             }
                             ports_el.innerHTML = ports_text;
                             row_element.appendChild(ports_el);
                             // mounts
                             var mounts_el = document.createElement('th');
                             var mounts_text = '';
                             for (var j = 0; j < data[i]["mounts"].length; j++) {
                                 mounts_text += ("<p>" + data[i]["mounts"][j].join(':') + "</p>");
                             }
                             mounts_el.innerHTML = mounts_text;
                             row_element.appendChild(mounts_el);
                             // binds
                             var binds_el = document.createElement('th');
                             var binds_text = '';
                             for (var j = 0; j < data[i]["binds"].length; j++) {
                                 binds_text += ("<p>" + data[i]["binds"][j].join(':') + "</p>");
                             }
                             binds_el.innerHTML = binds_text;
                             row_element.appendChild(binds_el);

                             table_element.appendChild(row_element);
                        }
                     })
                     .catch(error => console.log(error));
                 var timeout = setTimeout(update_containers_status, update_every);
            }

            function update_device_status() {

                 var url = '/api/device_status?';
                 fetch(url, {
                     method: 'GET',
                 })
                     .then(response => response.json())
                     .then(data => {
                         console.log(data);
                         data = data['devices'];
                         var table_element = document.getElementById("device_info_table");
                         table_element.innerHTML = '';
                         for (var i = 0; i < data.length; i++) {
                             var row_element = document.createElement("tr");
                             // name
                             var name_el = document.createElement('th');
                             name_el.innerHTML = data[i]["name"];
                             row_element.appendChild(name_el);
                             // temp
                             var temp_el = document.createElement('th');
                             temp_el.innerHTML = data[i]["temp"];
                             row_element.appendChild(temp_el);
                             // utilization
                             var utilization_el = document.createElement('th');
                             utilization_el.innerHTML = data[i]["utilization"];
                             row_element.appendChild(utilization_el);
                             // free
                             var free_el = document.createElement('th');
                             free_el.innerHTML = data[i]["free"];
                             row_element.appendChild(free_el);
                             // used
                             var used_el = document.createElement('th');
                             used_el.innerHTML = data[i]["used"];
                             row_element.appendChild(used_el);
                             // total
                             var total_el = document.createElement('th');
                             total_el.innerHTML = data[i]["total"];
                             row_element.appendChild(total_el);

                             table_element.appendChild(row_element);
                        }
                     })
                     .catch(error => console.log(error));
                 var timeout = setTimeout(update_device_status, update_every);
            }
            update_containers_status();
            update_device_status();
        });
    </script>
</head>
<body>
    <div class="container">
        <h3>nvidia-dev-server</h3>
        <div class="container">
            <h2 class="pr">containers info</h2>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Container name</th>
                  <th scope="col">Status</th>
                  <th scope="col">Runtime</th>
                  <th scope="col">Visible devices</th>
                  <th scope="col">Ports</th>
                  <th scope="col">Mounts</th>
                  <th scope="col">Binds</th>
                </tr>
              </thead>
              <tbody id='container_info_table'>
              </tbody>
            </table>
        </div>
        <br>
        <div class="container">
            <h2 class="pr">device info</h2>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">GPU name</th>
                  <th scope="col">Temp</th>
                  <th scope="col">Utilization</th>
                  <th scope="col">Memory free</th>
                  <th scope="col">Memory used</th>
                  <th scope="col">Memory total</th>
                </tr>
              </thead>
              <tbody id='device_info_table'>

              </tbody>
            </table>
        </div>
    </div>
</body>
</html>